Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [49]:
import pandas as pd
data = pd.read_csv('movies.csv')

In [50]:
data2 = pd.read_csv('ratings.csv')

In [51]:
rating = data2[data2.rating == 5.0].groupby('movieId')[['userId']].count()
rating = rating.rename(columns={'userId':'count_rating_5'})

In [52]:
ratingfilm = data.join(rating, how = 'inner')

In [53]:
ratingfilm.sort_values(by = 'count_rating_5', ascending = False).head(10)

,movieId,title,genres,count_rating_5
318,322,Swimming with Sharks (1995),Comedy|Drama,39553
296,300,Quiz Show (1994),Drama,32169
356,361,It Could Happen to You (1994),Comedy|Drama|Romance,25918
260,263,Ladybird Ladybird (1994),Drama,25804
2571,2663,It Came from Beneath the Sea (1955),Sci-Fi,25482
527,532,Serial Mom (1994),Comedy|Crime|Horror,24853
593,601,"Wooden Man's Bride, The (Yan shen) (1994)",Drama,24801
858,877,Girls Town (1996),Comedy|Drama,24418
50,51,Guardian Angel (1994),Action|Drama|Thriller,21585
2959,3052,Dogma (1999),Adventure|Comedy|Fantasy,21486

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [75]:
country = pd.read_csv('power.csv')
#balt.head()

In [77]:
balt = country[country.quantity > 0][country.year >= 2005][country.year <=2010][country.category.isin(['4', '12', '21'])][country.country.isin(['Latvia','Lithuania','Estonia'])]

<ipython-input-77-4b0c424d297f>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  balt = country[country.quantity > 0][country.year >= 2005][country.year <=2010][country.category.isin(['4', '12', '21'])][country.country.isin(['Latvia','Lithuania','Estonia'])]
<ipython-input-77-4b0c424d297f>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  balt = country[country.quantity > 0][country.year >= 2005][country.year <=2010][country.category.isin(['4', '12', '21'])][country.country.isin(['Latvia','Lithuania','Estonia'])]

In [80]:
balt['quantity'].sum()

240580.0

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [116]:
table = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', attrs = {'class':'quote_list'}, encoding = 'utf-8', match ='Рубль')
print(table)

[    Unnamed: 0              Рубль  Предложение  Спрос  Предыдущее закрытие  \
0          NaN            GBP/RUB      1055494      -              1055494
1          NaN            EUR/RUB       899455      -               899778
2          NaN            USD/RUB       763026      -               763000
3          NaN            JPY/RUB        06892      -                06891
4          NaN            CNY/RUB       116182      -               116182
5          NaN            CHF/RUB       809603      -               809405
6          NaN               Евро  Предложение  Спрос  Предыдущее закрытие
7          NaN            EUR/USD        11765      -                11779
8          NaN            EUR/GBP        08506      -                08517
9          NaN            EUR/JPY      1301650      -              1301800
10         NaN            EUR/CHF        11087      -                11093
11         NaN         Доллар США  Предложение  Спрос  Предыдущее закрытие
12         NaN            USD/EUR        08500      -                08500
13         NaN            USD/GBP        07229      -                07229
14         NaN            USD/JPY      1107050      -              1106030
15         NaN            USD/CHF        09425      -                09427
16         NaN      Японская иена  Предложение  Спрос  Предыдущее закрытие
17         NaN    JPY/EUR (100:1)        07700      -                07700
18         NaN            JPY/GBP        00065      -                00065
19         NaN            JPY/USD        00090      -                00090
20         NaN    JPY/CHF (100:1)        08500      -                08500
21         NaN    Фунт стерлингов  Предложение  Спрос  Предыдущее закрытие
22         NaN            GBP/USD        13833      -                13832
23         NaN            GBP/JPY      1531382      -              1531659
24         NaN            GBP/EUR        11758      -                11744
25         NaN            GBP/CHF        13034      -                13027
26         NaN  Швейцарский франк  Предложение  Спрос  Предыдущее закрытие
27         NaN            GBP/CHF        13034      -                13027
28         NaN            EUR/CHF        11087      -                11093
29         NaN    JPY/CHF (100:1)        08500      -                08500
30         NaN            USD/CHF        09425      -                09427
31         NaN  Украинская гривна  Предложение  Спрос  Предыдущее закрытие
32         NaN            EUR/UAH       329995      -               327759
33         NaN            USD/UAH       280500      -               278600
34         NaN            CHF/UAH       297624      -               295534
35         NaN            GBP/UAH       388016      -               385387

          %  Абсолютное значение       Время
0    0,00 %                00000    06:05:00
1   -0,04 %               -00323  02.04.2021
2    0,00 %                00026    00:04:00
3    0,02 %                00001    06:05:00
4    0,00 %                00000    06:05:00
5    0,02 %                00198    06:05:00
6         %  Абсолютное значение       Время
7   -0,12 %               -00014    00:08:00
8   -0,13 %               -00011    00:09:00
9   -0,01 %               -00150    05:57:00
10  -0,05 %               -00006    00:00:00
11        %  Абсолютное значение       Время
12   0,00 %                00000    06:05:00
13   0,00 %                00000    06:05:00
14   0,09 %                01020    00:05:00
15  -0,02 %               -00002    05:57:00
16        %  Абсолютное значение       Время
17   0,02 %                00000    06:05:00
18   0,02 %                00000    06:05:00
19   0,02 %                00000    06:05:00
20  -0,01 %                00000    01:00:00
21        %  Абсолютное значение       Время
22   0,01 %                00001    00:09:00
23  -0,02 %               -00277    06:05:00
24   0,12 %                00014    00:09:00
25   0,05 %                00007    00:10:00
26        %  Абсолютное значение       Время
27   0,05 %                00007    00:10:00
28  -0,05 %               -00006    00:00:00
29  -0,01 %                00000    01:00:00
30  -0,02 %               -00002    05:57:00
31        %  Абсолютное значение       Время
32   0,68 %                02236    06:05:00
33   0,68 %                01900    06:05:00
34   0,71 %                02090    06:05:00
35   0,68 %                02629    06:05:00  ]